html{
  scroll-behavior: smooth;
}



body {
    margin: 0;
    background-color: white;
  

}

nav {
    position: fixed;
    width: 100%;
    background-color: purple;
}  

#nav_logo {
    position: absolute;
    left:10px;top:10px;
    z-index: 1;
    color: white
}

nav ul#menu-desktop {
    margin:0;
    padding:0;
    text-align: right;
    
}

nav ul#menu-desktop li {
    list-style-type:none;
    display: inline;
}

nav ul#menu-desktop li a {
    padding: 30px 40px;
    text-decoration: none;

    color:#FFF;
    display: inline-block;
    margin-right: -3px;
    font-family: Roboto, sans-serif;
    font-size: 80%;
    letter-spacing: 0.60
}

nav ul#menu-desktop li a:hover {
    background-color: purple;
}

nav ul#menu-desktop li button {
    padding: 30px 40px;
    text-decoration: none;
    background-color: purple;
    color:#FFF;
    display: inline-block;
    margin-right: -3px;
    font-family: Roboto, sans-serif;
    font-size: 80%;
    letter-spacing: 0.60
}

nav ul#menu-desktop li button:hover {
    background-color: purple;
}

nav ul#menu-mobile, nav div#menu-btn {
    display: none;
}  

header{
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}



main {
    margin:0;
    width: 100%;
}


#cta {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
            }

            #cta .title {
                font-size: 4rem;
                color: plum;;
            }

            #cta .title span {
                color: purple;
            }


.popup {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 300px;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .popup button {
    width: 100%;
    padding: 10px;
    background-color: purple;
    color: #fff;
    border: none;
    cursor: pointer;
  }

.title-cat{
                text-align: left;
       color: plum
            }

.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-left: 200px;
 
}

.categories-carousel {
  overflow: hidden;
  margin-top: 20px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.category {
  flex: 0 0 auto;
  margin-right: 20px;
}

.category img {
  max-width: 600px;
  height: 200px;
}


  .container2 {
      width: 600;
      height: 200;
      padding: 20px;
    }
    
  
    
    .restaurant-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    
    .restaurant {
      width: 30%;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(82, 20, 255, 0.1);
      border-radius: 8px;
      overflow: hidden;
    }
    
    .restaurant img {
      width: 100%;
      height: auto;
    }
    
   h2{
     text-align:center;
   }
    
    
    .restaurant a {
      display: block;
      text-align: center;
      background-color: #4a04ce;
      color: #fff;
      padding: 10px 0;
      text-decoration: none;
      
    }
    
    .restaurant a:hover {
      background-color: #4200dd;
    }
    