header {
    height: 40px;
    margin-top: 70px;
}

nav {
    position:absolute;
    left:0;top:0;
    width:100%;
    height:70px;
    background-color: purple;
}

#nav_logo {
    width: 70px;
    left: 50%;
    margin-left: -35px;
}

nav div#menu-btn {
    position: absolute;
    display: block;
    top:20px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

nav ul#menu-desktop {
    display: none;   
}

nav ul#menu-mobile {
    margin-top:70px;
    padding: 0;
}

nav ul#menu-mobile li {
    display: block;
    width: 100%;
    list-style-type: none;
}

nav ul#menu-mobile li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    background-color: plum;
    padding: 20px 0;
    border-bottom: 1px solid #111;

    font-family: Roboto, sans-serif;
    font-size: 80%;
    letter-spacing: 0.6;
} 


@media (max-width: 768px){
#cta {
  width: 15px;
  display: wrap;
  flex-direction: column;
  gap: 10px;
  margin-top: 5%;
            }
}
main section#apresentacao {
    width: 100%;
}

main section.pizzas, main section.centro, main section.direita {
    width: 90%;
    float: none;
    margin: 15px auto;
}                

 /* Estilos para dispositivos móveis */
@media (max-width: 768px) {

  #cta {
    width: 10%;
    display: wrap;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
              }
  
              #cta .title {
                  font-size: 4rem;
                  color: plum;;
              }
  
              #cta .title span {
                  color: purple;
              }


  .container {
    max-width: 200px;
    margin: 0 auto;
    margin-left: 50px;
   
  }
  .carousel-inner {
    transition: none; /* Remover a transição para dispositivos móveis */
  }
  .category img{
    max-width: 150px;
    height: 50px;
  }
}

@media (max-width: 768px){
  .container2 {
      width: 300px;
      height: 50px;
      padding: 20px;
    }
    
  .restaurant-list {
      display: ;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  
  
