@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  font-family: 'Lato', sans-serif;
}

main {
  background: #fff;
  padding: 0 15px 30px; /* Alteração do padding */
}

.page-title {
  font-size: 30px; /* Alteração do tamanho da fonte */
  padding: 30px 0;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap; /* Alteração para permitir que os itens se ajustem em telas menores */
}

section {
  flex: 1;
  margin-right: 15px; /* Adicionado espaçamento entre as seções */
  margin-bottom: 15px; /* Adicionado espaçamento entre as seções */
}

aside {
  min-width: 250px;
  margin-left: 0;
}

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}

tbody td {
  padding: 15px 0; /* Redução do espaçamento */
}

.product {
  display: flex;
  align-items: center;
}

img {
  border-radius: 6px;
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
  height: auto;
}

.info {
  margin-left: 20px;
}

.name {
  font-size: 18px; /* Redução do tamanho da fonte */
}

.qty {
  min-width: auto; /* Remove a largura mínima */
}

aside {
  margin-left: 0;
}

.box {
  margin-bottom: 15px;
}

footer,
header {
  font-size: 16px; /* Redução do tamanho da fonte */
}

button {
  width: auto; /* Remove a largura total */
}

/* Mídia para telas menores */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column; /* Alteração para empilhar os itens em telas menores */
  }
  
  section {
    margin-right: 0; /* Remove o espaçamento lateral */
    margin-bottom: 30px; /* Adiciona mais espaçamento entre as seções */
  }
}
